<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar w/ text</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['precio']">Precios</a>
            </li>
            <li *ngIf="auth.isAuthenticated()" class="nav-item">
                <a class="nav-link" [routerLink]="['protegida']">Protegida</a>
            </li>
        </ul>
        <span class="navbar-text">
      <button *ngIf="!auth.isAuthenticated()" class="btn btn-outline-primary" (click)="auth.login()">Ingresar</button>
      <button *ngIf="auth.isAuthenticated()" class="btn btn-outline-primary" (click)="logOut()">Salir</button>
    </span>
    </div>
</nav>